
<div class="container">
   <div class="row">
  
    <h1 class="text-center">ACTORES</h1>
    <%= link_to "Crear Actor", new_actor_path, class:"btn btn-info" %> 
  
      <table class="table">
      
         <thead>
            <tr>
              <th>FOTO</th>
              <th>NOMBRE</th>
              <th>BIOGRAFÍA</th>
              <th>FECHA DE <br>NACIMIENTO</th>
              <th>LUGAR DE <br>NACIMIENTO</th>
              <th>FECHA DE <br>FALLECIMIENTO</th>
              <th>LUGAR DE <br>FALLECIMIENTO</th> 
            </tr>
         </thead>

         <% @actors.each do |actor| %>

            <tr>
               <td><img src=<%= actor.image_url %></td>
               <td><%= actor.name %></td>
               <td><%= actor.bio %></td>
               <td><%= actor.birth_date %></td>
               <td><%= actor.birth_place %></td>
               
               <% if !actor.alive %>
                  <td><%= actor.death_date %></td>
                  <td><%= actor.death_place %></td>
                  <% else %>
                  <td>-</td>
                  <td>-</td>
               <% end %>

         <% end %>  
            </tr>

      </table>
         
   </div>
            
</div>

   